.header {
    width: fit-content;
    margin: auto;
}

#container {
    background-color: rgb(214, 226, 214);
    height: 434px;
    width: 746px;
    margin: auto;
   
}

#signup {
    width: 70px;
    height: 30px;
    display: block;
    margin: auto;
}

hr {
    border: 1px solid black;
    width: 100px;
}

#lBreak {
    width: 140px;
    background-color: black;
    height: 2px;
}


/*PRODUCTS PAGE*/
.product_photo {
    border: 1px solid rgb(158, 119, 71);
    width: 177px;
    height: 208px;
}

#product_container {
    display: flex;
    gap: 71px;
    justify-content: center;
    top: 71px;
}

.disp_absolute {
    position: absolute;
}

.disp_relative {
    position: relative;
}

.btn_container {
    text-align: center;
    position: relative;
    top: 40px;
}

.btn_container > .add_btn {
    width: 75px;
    height: 30px;
}

.product_name {
    position: relative;
    top: 11px;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.product_price {
    position: relative;
    top: 20px;
    left: 15px; 
    font-size: 15px;
}

#view_cart_btn_container {
    text-align: center;
}


/*CART PAGE*/

.btn_container_forCart {
    width: 150px;
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(160, 160, 160);
}

.plus_btn, .minus_btn {
    border: 0px;
    color: rgb(82, 72, 72);
    font-size: 20px;
}

.quantity {     
    font-size: 25px;
}

#cost_container {
    border: 1px solid black;
    padding: 7px 46px;
    width: 200px;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* top: 20px; */
}


#cost_container > div{
    width: 100%;
    position: relative;
    font-size: 18px;
}

#cost_container > div > span {
    right: 0px;
    position: absolute;
}

